.centrado {
    justify-content: center;
}

#footer {
    width: 100%;
    left: 0;
}

#quienesSomos {
    justify-content: center;
}

#footer-media {
    justify-content: center;
}

.botonesFooter {
    width: 100%;
    outline: none;
    border: 0;
    text-align: center;
}

.enlacesComunidad {
    list-style: none;
    display: inline-flex;
}

#listaComunidad {
    list-style-type: circle;
}

#DatosCliente {
    justify-content: center;
}
